<!-- 

  index.html
  コンテンツ要素のテンプレート

  継承元: layout.html
  描画部: content

  CSS: bootstrap
 -->
<!-- 親となるテンプレートを継承 -->
{% extends "layout.html" %}
<!-- contents -->
{% block content %}
<div class="container">
  <!-- <canvas id='c'></canvas> -->
  <p>Canvasサンプル</p>
  <p>Canvasを利用するために、javascriptを設置する。htmlファイル内外は問わないが、html内の方が管理は楽</p>
  <p>Ajaxサンプル</p>
  <button id='ajax'><span>Ajax</span><span id='ajax-ret'></span></button>
  <h3>じゃんけん</h3>
  <p>challenger</p>
  <button id='btn-clg-hand-g' onclick="clickClg('g')"><span>g</span></button>
  <button id='btn-clg-hand-c' onclick="clickClg('c')"><span>c</span></button>
  <button id='btn-clg-hand-p' onclick="clickClg('p')"><span>p</span></button>
  <p>janken AI</p>
  <p id='jAI-hand'></p>
  <p>結果</p>
  <p id='battle-result'></p>
</div>
{% endblock content %}
<!-- scripts -->
{% block scripts %}
<!-- 親を継承 -->
{{ super() }}
<script>
/*********************************/
/* グローバル変数
/*********************************/
g = {};
g.clg_history = 'gcp';
g.jAI_next_hand = 'e'
g.hands_dict = {
  1: 'g',
  2: 'c',
  3: 'p'
}
g.hands_dict_inv = {
  'g': 1,
  'c': 2,
  'p': 3
}
g.result_dict = {
  2: 'win',
  1: 'lose',
  0: 'draw'
}

function judge(i_clg_hand, i_jAI_hand) {
  // 面倒なので値を短くする。
  clg = i_clg_hand;
  jai = i_jAI_hand;
  jn = (clg - jai + 3) % 3;
  // console.log(jn, g.result_dict[jn])
  return jn
}

function jAI_NextHand(s_clg_hand) {
  // g.jAI_next_hand = 'g'
  old_h = g.jAI_next_hand;
  ppm_api(s_clg_hand);

  new_h = g.jAI_next_hand;
  console.log('old, new');
  console.log(old_h, new_h);
}

function draw(s_clg_hand, s_jAI_hand, s_judge_result) {
  $("#jAI-hand").text(s_jAI_hand);
  $("#battle-result").text(s_judge_result);
  // console.log(s_clg_hand, s_jAI_hand, s_judge_result);
};

function clickClg(h) {
  // 今回の結果の格納(文字列)
  s_clg_hand = h;
  s_jAI_hand = g.jAI_next_hand;
  // 今回の結果の格納(整数型)
  i_clg_hand = g.hands_dict_inv[s_clg_hand];
  i_jAI_hand = g.hands_dict_inv[s_jAI_hand];



  // 非同期でAIの次の手を呼び出しておく
  jAI_NextHand(s_clg_hand);

  // その間に判定をジャッジ
  i_judge_result = judge(i_clg_hand, i_jAI_hand);
  s_judge_result = g.result_dict[i_judge_result];
  // 結果の表示
  draw(s_clg_hand, s_jAI_hand, s_judge_result)

  console.log(s_clg_hand, s_jAI_hand, s_judge_result);

  g.clg_history += s_clg_hand;
};

/*********************************/
/* じゃんけんAPIのテスト */
/* 使わない */
/*********************************/
function ppm_api(h) {
  console.log('SEND API:' + h);
  $.getJSON('http://fififactory.sakura.ne.jp/API/index.cgi?player=ggccppcgpcpg', {
    // プレーヤの過去の手。アルゴリズムを問い合わせる順番に注意。
    // いわゆる今回の手は含めておくる。
    player: g.clg_history + h,
  }, function(data) {
    console.log('Ajax API Return');
    g.jAI_next_hand = data[0].next_hand;
    console.log('Next: ' + g.jAI_next_hand);
    console.log(data[2].history)
  })
};


/*********************************/
/* じゃんけんAPIのテスト */
/* 使わない */
/*********************************/
$(function() {
  $('#None').click(function() {
    $.getJSON('http://fififactory.sakura.ne.jp/API/index.cgi?player=ggccppcgpcpg', {
        player: 'ggccppcgpcgp',
      }, function(data) {
        console.log('JankenAPI Return')
        console.log(data)
        console.log(data[0].next_hand)
        next_hand = data[0].next_hand;

      }) //getJson
  }); // click
}); // 無名関数


/*********************************/
/* ajaxのテストパターン
/*********************************/
$(function() {
  var pn = 0;
  $('#ajax').click(function() {
    $.getJSON($SCRIPT_ROOT + '/_ajax_getJSON', {
      a: parseInt(pn),
    }, function(data) {
      // debug
      $("#ajax-ret").text(data.result.inc);
      pn = data.result.inc;
      console.log('ajax return')
    })
  });
});
</script>
{%- endblock scripts %}
