* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: auto 0px;
    /*font: 30px sans-serif;*/
}
.container {
    margin-bottom: 20px;
}
.move-icon {
    width: 100px;
}
#champion-move, 
#challenger-move {
    min-height: 100px;
}
